# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.swp
*.swo

# Temp
*.tmp
*.temp

# Dependencies
node_modules/

# Build
dist/
docs/.vitepress/dist/
docs/.vitepress/cache/
.cache/

# Logs
*.log
npm-debug.log*
